body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border:solid #EDA6BA 10px;
    outline: 4px solid #E5E1F0;
    outline-offset: 2px;
    background-color: honeydew;

}
img{
    height:50px;
    width:50px;
    margin-top:10px;
}
#heading{
    color:palevioletred;
    font-family:"Press Start 2P",sans-serif;
}


#errors {
    color: palevioletred;
    font-family:"Press Start 2P",sans-serif;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid lightgray;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color:#E5E1F0;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid gray;
}

.vertical-line {
    border-right: 1px solid gray;
}
